<div class="banner">
  <div class="container">
    <div class="banner-search">
      <h1>Going somewhere?</h1>
      <p>Your pick of rides at low prices</p>

          <div class="search-bar">
            <div class="search-bar__search-icon"><i class="fas fa-search"></i></div>
            <div class="search-bar__search-input">
              <form action="/search">
                <input id="search-input__trigger" name="query" type="text" placeholder="Search then enter"/>
              </form>
            </div>
            <div class="search-bar__close-icon"><i class="far fa-times-circle"></i></div>
          </div>

    </div>
    <div class="banner-chevron">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
</div>
