<div class="footer">
  <div class="footer-infos">
    <div class="footer-components">
      <p>Proin ac porta mauris. Mauris eu quam nec risus porttitor luctus a sed magna. Nulla vel lorem ullamcorper.</p>
    </div>
    <div class="footer-components">
      <p>Proin ac porta mauris. Mauris eu quam nec risus porttitor luctus a sed magna.</p>
    </div>
    <div class="footer-components">
      <p>Proin ac porta mauris. Mauris eu quam. Nulla vel lorem ullamcorper</p>
    </div>
    <div class="footer-links">
      <a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook" target="_blank"></i></a>
      <a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter" target="_blank"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2021 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac egestas tellus. Donec vel orci in felis ornare finibus. Suspendisse molestie nisl at lacus pulvinar, a imperdiet orci efficitur.</p>
  </div>
</div>
