<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Passengers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="passengers-input" class="col-form-label">How many seats do you want to book?</label>
              <input type="text" class="form-control" id="passengers-input">
            </div>
          </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <% if ride.passengers >= 1 %>
          <%= link_to 'Book this ride', ride_reservations_path(ride, passengers: ride.passengers), class:"btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
