.cards {
  margin: 50px 50px;
}
.card-ride {
    width: 290px;
    height: 340px;
    position: relative;
    box-shadow: rgb(200, 200, 200) 0px 0px 20px;
    border-radius: 5px;

  .card-trash {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  text-shadow: rgb(80, 80, 80) 1px 1px 2px;
  }
}

.card-photo{
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.card-trash:hover{
  color: #dd2d05;
}

.card-body-part{
  padding: 8px;
  text-align: left;

  .card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;

  .card-user-avatar {

  }

  h5 {
    padding-bottom: 10px;
  }

  p {
    font-weight: lighter;
    margin: 0
  }

  }

  .card-text {
    padding-left: 12px;
    padding-right: 12px;
  }

  .card-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 8px;

    p {
      margin-bottom: 0;
    }
  }
}
